{{!-- ordered product details --}}
<link rel="stylesheet" href="/stylesheets/view-order-prod.css">
{{!-- ordered product details --}}

<section>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="container p-4">
                <h3 id="Title" class="text-muted mb-4 text-center" style="font-size: 20px;">Order Item</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            {{!-- products details looping --}}
                            {{#each products}}
                            <td>
                                <img src="/images/{{this.product._id}}.jpg" alt="">
                            </td>
                            <td class="pt-4">{{this.product.Title}}<br>{{this.product.Item}}</td>
                            <td class="pt-4">₹ {{this.product.Price}}/-</td>
                        </tr>
                        {{/each}}
                        {{!-- products details looping --}}
                    </tbody>
                </table><hr>
            </div>
            {{!-- container --}}

    <section class="cart-footer">
        <div class="container cont text-center">
            <a href="/admin/view-orders" class="btn home-btn underlineHover" style="color: #f52b07;">Back to Orders</a>
        </div>
        {{!-- container --}}
    </section>
        </div>
        {{!-- formContent --}}
    </div>
    {{!-- wrapper --}}
</section>

<style>
    @keyframes mymove {
    from {
        top: -140px;
    }

    to {
        top: 80px;
    }
}
</style>