body {
    background-color: #eee;
    font-family: 'poppins', sans-serif;
}
.cont {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;

}
.order-head {
    color: grey;
    font-size: 13px;
}
.cart-table h3 {
    font-size: 20px;
}
tbody tr td,
.prod-id {
    font-size: 15px;
    color: black;
    font-weight: 500;
}
.item-btn {
    text-decoration: none !important;
    border: 1px solid #dc3545;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    color: #dc3545;
    border-radius: 10px;
}
.item-btn:hover{
    color: white;
    background: #dc3545;
}
.prod-id:hover {
    color: rgb(182, 19, 19) !important;
}
.cart-footer .home-btn {
    width: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #dc3545;
}
.cart-footer .home-btn:hover {
    text-decoration: underline;
}
.underlineHover::after {
    display: block;
    left: 0px;
    bottom: -10px;
    width: 0px;
    height: 2px;
    background-color: #f52b07;
    content: "";
    transition: width 0.2s;
}
.underlineHover:hover::after {
    width: 100%;
}

/* Media Queries */
@media only screen and (max-width:768px) {
    tbody tr td, .prod-id {
        font-size: 11px;
    }
}

@media only screen and (max-width:500px){
    .table td, .table th{
        padding: 10px 10px 10px 0;
    }
    .table th{
        font-size: 12px !important;
    }
    .item-btn{
        font-size: 11px;
    }
}
/* Media Queries */