body {
    background-color: #eee;
    font-family: 'poppins', sans-serif;
}

.cont {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;

}

.order-head {
    color: grey;
    font-size: 13px;
}

.cart-table h3 {
    font-size: 20px;
}

tbody tr td,
.prod-id {
    font-size: 15px;
    color: black;
    font-weight: 500;
}

.view-prod {
    text-decoration: none !important;
    color: rgb(241, 32, 32) !important;
}

.view-prod:hover,
.prod-id:hover {
    color: rgb(182, 19, 19) !important;
}

.cart-footer .home-btn {
    width: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #dc3545;
}

.cart-footer .home-btn:hover {
    text-decoration: underline;
}

.underlineHover::after {
    display: block;
    left: 0px;
    bottom: -10px;
    width: 0px;
    height: 2px;
    background-color: #f52b07;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover::after {
    width: 100%;
}

@media only screen and (max-width:768px) {

    tbody tr td,
    .prod-id {
        font-size: 11px;
    }
}