.nav-title{
    font-family: 'Permanent Marker',cursive;
    font-size: 2.5em;
}
#cart-icon{
    background-color: #f52b07;
    border-radius: 40%;
    height: 40px;
    width: 60px;
}
#cart-icon i{
    color: white;
    font-size: 25px;
    position: relative;
    top: 7px;
    left: 23px;
}
.navbar-nav{
 margin-left: auto;
}
.nav-link{
    padding: 0;
}


@media only screen and (max-width:450px){
    #nav-title{
    font-size: 2em;
    margin-top: auto;
    }
    #nav-title img{
        display: none !important;
    }
}