#showcase{
    background-color: #f5dfdc;
    
}
#showcase_text{
    margin-top: 120px !important;
}
#showcase_text h6{
    font-size: 1em;
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #f52b07;
    padding: .5em;
    border-radius: 20px;
}
#showcase_text h1{
    font-size: 4em;
    margin-bottom: 20px;
}
#showcase_text h5{
    font-size: 2em;
}
.title-content .sub-title{
    font-size: 17px;
    color: #999;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.title-content .big-title{
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 20px;
}
.item-card{
    height: 450px;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 80px;
}
.item-card img{
    border-radius: 20px 20px 0px 0px;
}
.item-card h4{
    font-size:21px;
    font-weight: 600;
}
.item-card button{
    background-color: unset;
    border-color: #dc3545;
    color: #dc3545;
    border-radius: 25px;
}
.item-card button:focus{
    box-shadow: none;
}
.item-card button:hover{
    background-color: #dc3545;
    color: white;
}
.about-us{
    margin-bottom: 100px;
}
.about-us .about-title{
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 30px;
}
.about-us .about-subTitle{
    font-size: 24px;
    line-height: 30px;
    color: #999;
}
.about-us a{
    border-color: #dc3545;
    color: #dc3545;
    font-weight: 600;
    border-radius: 10px;
}
.about-us a:hover{
    background-color: #dc3545;
    color: white;
}
.icon-about .icon{
    background-color:#f5dfdc ;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 15px;
    display: block;
    
}
.icon-about h4{
    font-size: 20px;
    font-weight: 600;
}
.mainFooter{
    background-color: #16222A;
    color: white;
    margin-top: 100px;
}
.footer-middle{
    padding-top: 2em;
    color: white;
}
.footer-pad p{
    margin-bottom: 0;
}
.social-btns{
    height: 20px;
    margin: auto;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 110px;
    bottom: 0;
}
.social-btns .btn{
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 25px;
    margin: 0 6px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;
}
.social-btns .btn.facebook .fa{
    color: #3b5998;
}
.social-btns .btn.linkedin .fa{
    color: #3cf;
}
.social-btns .btn.instagram .fa{
    color: #f26798;
}
.social-btns .facebook:hover{
    background-color: #3b5998;
}
.social-btns .linkedin:hover{
    background-color: #3cf;
}
.social-btns .instagram:hover{
    background-color: #f26798;
}
.social-btns .btn:hover .fa{
    color: #fff;
}
.copyright{
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #fff;
}


@media only screen and (max-width:320px){
    .item-card{
        max-width: 18rem;
        margin-bottom: 0px;
        height: 410px;
    }
    .item-card h4,.item-card h5{
        font-size: 18px;
    }
}

@media only screen and (max-width:575px){
    .about-us .about-title{
        font-size: 33px;
        margin-bottom: 10px;
    }
    .about-us .about-subTitle{
        font-size: 22px;
        line-height: 26px;
    }
    .icon-about .icon{
        margin-left: 10px !important;
    }
    .icon-about h4{
        font-size: 16px;
    }
    .footer-pad h4{
        font-size: 1.2rem;
    }
    .footer-pad p{
        font-size: 12px;
    }
    .footer-pad{
        text-align: center;
    }
    .footer-middle{
        padding-top: .3em;
    }
    .social-btns .btn{
        width: 30px;
        height: 30px;
        line-height: 15px;
        padding: 5px;
    }
    .social-btns{
        position: absolute;
        top: 60px;
        right: 0px;
    }
}
@media only screen and (max-width:425px) and (min-width:376px){
    .item-card{
        max-width: 22rem;
        margin-bottom: 0px;
        height: 450px ;
        margin-left: 20px;
        
    }
}
@media only screen and (min-width:426px) and (max-width:575px){
    .item-card{
        margin:auto;
        margin-bottom: 40px;
    }
    .about-us .about-title{
        font-size: 35px;
    }
    .about-us .about-para{
        font-size: 15px;
        margin-right: 15px;
    }
}
@media only screen and (min-width:576px) and (max-width:768px){
    .item-card{
        max-width: 16rem;
        height: 400px;
        margin-bottom: 0px;
    }
    .item-card h4{
        font-size: 18px;
    }
    .item-card h5{
        font-size: 14px;
    }
    .social-btns{
        position: absolute;
        top: 20px;
    }
}
@media only screen and (min-width:769px) and (max-width:992px){
    .item-card{
        max-width: 18rem;
        margin: auto;
        margin-bottom: 40px;
    }
    .social-btns{
        position: absolute;
        top: 20px;
        right: 0px;
    }

}
@media only screen and (min-width:993px) and (max-width:1200px){
    .social-btns .btn{
        width: 30px;
        height: 30px;
        line-height: 15px;
        padding: 5px;
    }
    .social-btns{
        position: absolute;
        right: 95px;
    }
}