body {
    background-color: #eee;
    font-family: 'poppins', sans-serif;
    height: 100vh;
}
a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}
h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    position: relative;
    animation: mymove 2s;
    animation-fill-mode: forwards;
}
@keyframes mymove {
    from {
        top: -130px;
    }
    to {
        top: 30px;
    }
}
#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 75%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}
td img {
    height: 100px;
    width: 100px;
    border-radius: 30px;
}
.cart-footer .home-btn {
    width: 160px;
    margin-top: -22px;
    margin-bottom: 10px;
    color: #dc3545;
}
.cart-footer .home-btn:hover {
    text-decoration: underline;
}
.underlineHover::after {
    display: block;
    left: 0px;
    bottom: -10px;
    width: 0px;
    height: 2px;
    background-color: #f52b07;
    content: "";
    transition: width 0.2s;
}
.underlineHover:hover::after {
    width: 100%;
}

/* Media Queries */
@media only screen and (max-width:768px) {
    #formContent {
        max-width: 100%;
    }
}

@media only screen and (max-width:469px) {
    tbody td {
        font-size: 13px;
    }
}
/* Media Queries */