<link rel="stylesheet" href="/stylesheets/error.css">

<section>
    <div class="wrapper fadeInDown">
            <div id="formContent">
        <div class="container p-4 mb-0">
            
            <h3 class="text-muted">OOPS !!</h3><hr>
           <h6 class="text-muted">Your Cart is Empty</h6> 
        </div>
           

            <div id="login-footer">
                <a href="/" class="underlineHover" style="color: #f52b07;">Continue Shopping</a>
            </div>
        </div>
    </div>
</section>