{{!-- stylesheets for error page --}}
<link rel="stylesheet" href="/stylesheets/error.css">
{{!-- stylesheets for error page --}}

{{!-- empty cart section --}}
<section>
    <div class="wrapper fadeInDown">
            <div id="errorContent">
        <div class="container p-4 mb-0">
            
            <h3 class="text-muted">OOPS !!</h3><hr>
           <h6 class="text-muted">Your Cart is Empty</h6> 
        </div>
           

            <div id="error-footer">
                <a href="/" class="underlineHover" style="color: #f52b07;">Continue Shopping</a>
            </div>
        </div>
    </div>
</section>
{{!-- empty cart section --}}

{{!-- footer --}}
<footer class="mainFooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <p>Pizza Hub</p>
                        <p>Thazhechovva,kannur</p>
                        <p>Kerala,pin:670003</p>
                        <p>pizzahub@gmail.com</p>
                    </div>
                </div>
                {{!-- grid-column --}}
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Opening Hours</h4>
                        <p>Monday-Friday</p>
                        <p>09.00 am - 10.00 pm</p>
                    </div>
                </div>
                {{!-- grid-column --}}
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Book a Table</h4>
                        <p>Eating Hot and Spicy Pizza is best thing to consider</p>
                        <p>+91 8848474156</p>
                    </div>
                </div>
                {{!-- grid-column --}}
                <div class="col-md-3 col-sm-6 my-3 mb-5">
                    <div class="footer-pad">
                        <h4>Follow Us</h4>
                        <div class="social-btns">
                            <a href="#" class="btn facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="btn linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#" class="btn instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {{!-- grid-column --}}
            </div>
            {{!-- grid-row --}}

            <div class="row">
                <div class="col-md-12 copyright">
                    <p class="text-center">© Copyright 2021 - Pizza Hub. All rights reserved.</p>
                </div>
                {{!-- grid-column --}}
            </div>
            {{!-- grid-row --}}
        </div>
        {{!-- container --}}
    </div>
    {{!-- footer-middle --}}
</footer>
{{!-- footer --}}
