<link rel="stylesheet" href="/stylesheets/user-auth.css">

<section>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="/images/pizza_hut_logo-removebg.png" id="icon" alt="brand logo">
                <h2 id="logo-head">Pizza Hub</h2>
            </div>

            <form action="/login" method="POST">
                <h3 id="loginTitle">Login</h3>
            </form>
        </div>
    </div>
</section>

