{{!-- stylesheet for login --}}
<link rel="stylesheet" href="/stylesheets/user-auth.css">
{{!-- stylesheet for login --}}

{{!-- login section --}}
<section>
    <div class="wrapper fadeInDown">
            <div id="formContent">
        <div class="container p-4">
            <div class="fadeIn first">
                <img src="/images/pizza_hut_logo-removebg.png" id="icon" alt="brand logo">
                <h2 id="logo-head">Pizza Hub</h2>
            </div>

            <form action="/login" method="POST">
            {{#if logErr}}
            <p class="error text-danger">{{logErr}}</p>
            {{/if}}
                <h3 id="loginTitle">Login</h3>
                <div class="form-group">
                    <input type="email" name="Email" class="fadeIn login-input text-center" id="#login-email" placeholder="email" >
                </div>
                <div class="form-group">
                    <input type="password" name="Password" class="fadeIn login-input text-center" id="#login-password" placeholder="password" >
                </div>
                <input type="submit" class="fadeIn" value="Log In">
            </form>
            {{!-- form --}}
        </div>
        {{!-- container --}}
            <p class="text-grey mt-4">Or</p>
            <a href="/otpVer" class="underlineHover" style="color: #f52b07;">Login with OTP</a>

            <div id="login-footer">
                <a href="/signup" class="underlineHover" style="color: #f52b07;">Don't have an account ?</a>
            </div>
        </div>
        {{!-- formContent --}}
    </div>
    {{!-- wrapper --}}
</section>
{{!-- login section --}}

{{!-- footer --}}
<footer class="mainFooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <p>Pizza Hub</p>
                        <p>Thazhechovva,kannur</p>
                        <p>Kerala,pin:670003</p>
                        <p>pizzahub@gmail.com</p>
                    </div>
                </div>
                {{!-- grid-column --}}
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Opening Hours</h4>
                        <p>Monday-Friday</p>
                        <p>09.00 am - 10.00 pm</p>
                    </div>
                </div>
                {{!-- grid-column --}}
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Book a Table</h4>
                        <p>Eating Hot and Spicy Pizza is best thing to consider</p>
                        <p>+91 8848474156</p>
                    </div>
                </div>
                {{!-- grid-column --}}
                <div class="col-md-3 col-sm-6 my-3 mb-5">
                    <div class="footer-pad">
                        <h4>Follow Us</h4>
                        <div class="social-btns">
                            <a href="#" class="btn facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="btn linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#" class="btn instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {{!-- grid-column --}}
            </div>
            {{!-- grid-row --}}
            <div class="row">
                <div class="col-md-12 copyright">
                    <p class="text-center">© Copyright 2021 - Pizza Hub. All rights reserved.</p>
                </div>
                {{!-- grid-column --}}
            </div>
            {{!-- grid-row --}}
        </div>
        {{!-- container --}}
    </div>
    {{!-- footer-middle --}}
</footer>
{{!-- footer --}}

