<link rel="stylesheet" href="/stylesheets/error.css">

<section>
    <div class="wrapper fadeInDown">
            <div id="formContent">
        <div class="container p-4 mb-0">
            <h4 class="fa fa-check p-2 check-logo"></h4>
            <h5 class="text-success">Order placed successfully !</h5><hr>
           <h6 class="mt-4 mb-4">Your order number is <span class="text-danger">#542652</span></h6><hr>
           <p class="email-confirmation">you'll receive an email confirmation shortly to <span class="text-success"><b>{{email}}</b></span></p>
        </div>
           

            <div id="login-footer">
                <a href="/" class="underlineHover" style="color: #f52b07;">Continue Shopping</a><br>
                <a href="/" class="underlineHover mt-3" style="color: #f52b07;">View Orders</a>
            </div>
        </div>
    </div>
</section>

<footer class="mainFooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <p>Pizza Hub</p>
                        <p>Thazhechovva,kannur</p>
                        <p>Kerala,pin:670003</p>
                        <p>pizzahub@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Opening Hours</h4>
                        <p>Monday-Friday</p>
                        <p>09.00 am - 10.00 pm</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <div class="footer-pad">
                        <h4>Book a Table</h4>
                        <p>Eating Hot and Spicy Pizza is best thing to consider</p>
                        <p>+91 8848474156</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 my-3 mb-5">
                    <div class="footer-pad">
                        <h4>Follow Us</h4>
                        <div class="social-btns">
                            <a href="#" class="btn facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="btn linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#" class="btn instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 copyright">
                    <p class="text-center">© Copyright 2021 - Pizza Hub. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<style>
    .check-logo{
        margin: 0px 0 10px 0;
        font-size: 16px; 
        border: 5px solid rgb(10, 190, 10);
        color: rgb(10, 190, 10); 
        border-radius: 50%;
    }
</style>