{{!-- error stylesheet --}}
<link rel="stylesheet" href="/stylesheets/error.css">
{{!-- error stylesheet --}}

<section>
    <div class="wrapper fadeInDown">
            <div id="errorContent">
        <div class="container p-4 mb-0">
            <h4 class="fa fa-check p-2 check-logo"></h4>
            <h5 class="text-success">Order placed successfully !</h5><hr>
           <h6 class="mt-4 mb-4">Your order number is <span class="text-danger">#542652</span></h6><hr>
           <p class="email-confirmation">you'll receive an email confirmation shortly to <span class="text-success"><b>{{email}}</b></span></p>
        </div>
           

            <div id="error-footer">
                <a href="/" class="underlineHover" style="color: #f52b07;">Continue Shopping</a><br>
                <a href="/my-orders" class="underlineHover mt-3" style="color: #f52b07;">View Orders</a>
            </div>
        </div>
        {{!-- formContent --}}
    </div>
    {{!-- wrapper --}}
</section>
