<section id="showcase">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 col-md-6 ">
                <img src="/images/pizza_slide2.png" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 mx-auto my-5 text-center" id="showcase_text">
                <h5>Having a bad day ?</h5>
                <h1>Have a pizza</h1>
                <a href="#item-card">
                    <h6>Order Now</h6>
                </a>

            </div>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container py-lg-2 py-md-2">
        <div class="title-content text-center">
            <h6 id="item-card" class="sub-title mt-4">special combo</h6>
            <h3 class="big-title">Our Delicious Pizza</h3>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/pizza_slide.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>