<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- website titlle --}}
    <title>Pizza Hub ||Pizza Hub</title>
    {{!-- website titlle --}}

    {{!-- bootstrap cdn --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- bootstrap cdn --}}
    
    {{!-- google fonts --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    {{!-- google fonts --}}

    {{!-- font-awesome cdn --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {{!-- font-awesome cdn --}}

    {{!-- external stylesheet for navigtion and footer --}}
    <link rel="stylesheet" href="/stylesheets/nav-bar.css">
    {{!-- external stylesheet for navigtion and footer --}}

    {{!-- jquery script --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{!-- jquery script --}}

    {{!-- razorpay checkout script --}}
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    {{!-- razorpay checkout script --}}
</head>

<body>
    {{!-- partial header --}}
    {{#if admin}}
    {{>admin-header}}
    {{else}}
    {{>user-header}}
    {{/if}}
    {{!-- partial header --}}
    {{{body}}}
    {{#if user}}
    {{>user-footer}}
    {{/if}}

    
    {{!-- bootstrap script --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {{!-- bootstrap script --}}
    {{!-- external script --}}
        <script src="/javascripts/script.js"></script>
    {{!-- external script --}}
</body>

</html>